[Desktop Entry]
Version=1.0
Type=Application
Name=Media Library
Comment=Media launcher
Path=/home/isabelle/medialib
Exec=python3 medialib.py
Icon=/home/isabelle/medialib/medialib.png
